spring:
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/doctor-patient-rest-liquibase-2
    password: root
    driver-class-name: org.postgresql.Driver
  mvc:
    hiddenmethod:
      filter:
        enabled: 'true'
    dispatch-options-request: true
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml


server:
  port: 8082
  servlet:
    context-path: /api
    encoding:
      force: true